django==5.1.6
djangorestframework
psycopg2
django-allauth
django-cors-headers
dotenv
whitenoise[brotli]
dynaconf
drf-spectacular
django-crispy-forms
crispy-bootstrap5
django-browser-reload
gunicorn
dj-database-url
isort
