django==5.1.6
djangorestframework
psycopg2
pytest
pytest-django
django-allauth
django-cors-headers
dotenv
pre-commit
whitenoise[brotli]
black
playwright
pytest-playwright
dynaconf
drf-spectacular
django-crispy-forms
crispy-bootstrap5
django-browser-reload
gunicorn
